/* Add this to your global styles.css file */
/* Set a background color */
body {
    background-color: #99bde0;
  }
  p{
  color: #2f2683
  slategrey;
   font-style: bold;
    font-size:  30px;
  }
  /* Add padding to the container */
  .container {
    padding: 20px;
  }

  
  /* Style the navbar */
  .navbar {
    background-color: #403437;
  }
  
  /* Change the link color on hover */
  .navbar-nav > li > a:hover {
    color: #fff;
  }
  
  /* Set the font color for the page title */
  h1 {
    color: #343a40;
    margin-bottom: 20px;
  }
  
  /* Style the employee table */
  .table {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  /* Style the table header */
  .table thead {
    background-color: #343a40;
    color: #fff;
  }
  
  /* Change the font color of the table rows on hover */
  .table tbody tr:hover {
    background-color: #f5f5f5;
  }
  
  /* Style the form input fields */
  .form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
  }
  
  /* Style the submit button */
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
  